@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to my Game Industry page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all Games:</h2>
    </div>
</div>

<GamesListTable Games="_games" />

@code
{
    List<Game> _games;

    protected override void OnInitialized()
    {

        _games = new List<Game>()
        {
            new Game() {Name = "GTA-3", Genre = "Action", ReleaseDate = DateTime.Now},
            new Game() {Name = "Need for speed", Genre = "Cars", ReleaseDate = new DateTime(2018,2,12)},
            new Game() {Name = "Counter Strike", Genre = "Action", ReleaseDate = new DateTime(2019,12,23)},
            new Game() {Name = "Cosacs", Genre = "Rpg", ReleaseDate = DateTime.Now},
        };
    }
}
